@use "../abstract/variables" as *;


/* For the six boxes, mobile */

/* All boxes */
.article-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;  
}

.card{
    align-content: flex-end;
    background-color: $header-background-clr;
}

    .article-header{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 3rem;
    margin: .8em;
    text-align: center;
    font-weight: bolder;
    
    }

/* boxes 2,2,5 */
    .section-box{
    background-color: #fff;
    }

    .section-box2{
        background-color: rgb(202, 201, 201);
    }

    .section-box4{
        background-color: $orange-background-clr;
    }
        
    /* Number in the boxes */
    .section-number{
    font-family: 'Frank Ruhl Libre', serif;
    text-align: left;
    padding: .2em .5em 0;
    font-size: 2em;
    font-weight: bold;
    color: $text-clr;
    color: gray;
    opacity: .7;
    }

    .section-text{
    font-family: 'Fira Sans', serif;
    margin: 3em 2em 4em 2em;    
    font-size: 1em;
    font-weight: bold;
    line-height: 1.3em;
    color: $text-clr;
    }

/* For the six boxes, desktop */
@media screen and (min-width: 768px){
    /* All boxes */
    .article-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        height: 100vh;

        .card{
           height: 50%;
           align-content: center;
           width: 33.333%; 
       }

        .section-text, .article-header{
            text-align: center; 
            padding-top: 1.5em;
            margin: 1em;
        }
        
        .section-text{
            font-size: 1.3em;
        }

        .section-number{
            padding: .9em;
            margin-bottom: 1.5em;
        }
    }

}