@use "../abstract/variables" as *;
@use "../components/button";


.page-header p{
    font-family: 'Fira Sans';
    color: $text-clr;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: end;

    background-color: $header-background-clr;
    height: 90vh;
    padding-top: 1.5em;

    h1, h2{
        font-family: 'Frank Ruhl Libre';
    }

    h1{
        font-size: 3rem;
        font-weight: bold;
        width: 80%;
        padding: 1em .3em .6em;
    }

    p{
        font-size: .9em;
        font-weight: 600;
        
        line-height: 1.7em;

        padding: 0em .9em 3em .9em;

        span{
            color: #fff;
        }
    }

    img{
        align-self: flex-end;
        padding-top: 3em;
        padding-right: .3em;
    }

}

.box2{
    background-color: $orange-background-clr;
}

.box3{
    background-color: $yellow-background-clr;
}

.box2, 
.box3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    height: 20em;

    h2{
        color: #fff;
        font-size: 2.2rem;
        font-weight: 600;
        margin-top: .3em;
    }

}

.contact-header{
    display: flex;
    align-items: center;
    background-color: $header-background-clr;
    padding-top: 1em;

    h1{
        font-size: 2.3em;
        line-height: 1.2em;
        font-family: 'Frank Ruhl Libre', serif;
        font-weight: bolder;
        margin-left: .3em;
    }
    img{
        margin-right: .3em;
    }
}

@media screen and (min-width: 768px){
 
    .header-container{
    display: flex;
    flex-direction: row;
 }

 .box1, .header-right{
    /* so the boxes can be next to each other*/
    width: 50%;
 }
 
 
.box1 img{
    padding: 0;
    /* Doesnt take any space in the box */
    position: absolute;

    width: 30%;

}
 .box2, .box3{
    height: 50%;
 }

 .box1 p{
    align-self: center;
    width: 60%;
    font-size: 1.2em;
 }

 .box1 h1{
    align-self: center;
    max-width: 60%;
    font-size: 4rem;
 }

 .join-btn{
    margin-left: 9em;
    padding: 1.3em;
    /* Place the text and button in the middle beside the image */
    margin-bottom: 17rem;
 }

}